<h1 class="text-center">Clozer</h1>

<section id="hero" class="container-fluid homepage-section homepage-video-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="hero-text">
          <h1>The easiest way to pay to close deals</h1>
          <p>Sign up now and get the first month free.</p>
          <form action="/users/sign_up" method="GET">
            <!-- <div class="input-append"> -->
              <!-- <input id="company-input" class="input-medium col-sm-6" type="text" name="c" placeholder="Company Name"/> -->
              <button type="submit" class="btn btn-success" onClick="">Get started for free &raquo;</button>
            <!-- </div> -->
          </form>
        </div>
      </div>
      <div class="col-md-7 hidden-sm" style="position: relative;">
        <!-- <a href="//fast.wistia.net/embed/iframe/76pad8n4q2?popover=true&plugin%5BgoogleAnalytics%5D%5Bsrc%5D=%2F%2Ffast.wistia.com%2Flabs%2Fgoogle-analytics%2Fplugin.js&plugin%5BgoogleAnalytics%5D%5BoutsideIframe%5D=true" class="play-video wistia-popover[height=422,playerColor=37823e,width=800]"> -->
          <i class="icon-play-circle"></i> Play Video
        </a>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
        <script src="//fast.wistia.com/static/iframe-api-v1.js"></script>
      </div>
    </div>
  </div>
</section>



<section class="ribbon container-fluid homepage-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ribbon-text">
        <h2>Are you a lawyer?</h2>
        <p>Offer the easiest way to close deals.
          <a href="">
            Learn More &raquo;
</a>        </p>
      </div>
    </div>
  </div>
</section>

<section id="product" class="container-fluid homepage-section greenbg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="margin-bottom">Welcome to simple Deal Closings</h2>
        <p class="text-center"><img alt="" class="img-responsive" src="//d1w32dwlo9psx6.cloudfront.net/assets/corporate/mac-run-payroll-10e3eb09cdbe90f46ae1bd4723f0142e.png" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-center"><img alt="Nothing is faster than lightning." class="img-responsive" src="//d1w32dwlo9psx6.cloudfront.net/assets/corporate/product-fast-931d465bc06058cb64103e6cfa2d5040.png" /></p>
        <h3 class="text-center">Easy to use</h3>
        <p>Clozer guides you through every step of the process. We'll take care of the details for you.</p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><img alt="Save the trees." class="img-responsive" src="//d1w32dwlo9psx6.cloudfront.net/assets/corporate/product-government-5fbb6066d99c4c10f2ddae5464a1113d.png" /></p>
        <h3 class="text-center">Instant Updates</h3>
        <p>Clozer notifies you by email whenever another signatory executes the document and when the deal is ready to close.</p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><img alt="Don&#x27;t worry about missing a deadline." class="img-responsive" src="//d1w32dwlo9psx6.cloudfront.net/assets/corporate/product-paperless-45d6758ff9763062953826ee12f41a6a.png" /></p>
        <h3 class="text-center">No Paper, No Hassles</h3>
        <p>Documents are distributed and managed electronically. Access your document archive anytime.</p>
      </div>
      <div class="col-md-3">
        <p class="text-center"><img alt="Employees can join in the fun." class="img-responsive" src="//d1w32dwlo9psx6.cloudfront.net/assets/corporate/product-employees-8fe4523003a682fa2c2af41eb36144e8.png" /></p>
        <h3 class="text-center">Anytime Access</h3>
        <p>Provide signatories with direct access to the deal docs.  Streamline changes and approvals.</p>
      </div>
    </div>

    <div class="row-fluid margin-bottom margin-top">
      <div class="col-md-12">
        <p class="signup text-center">
          <a href="/users/sign_up" class="btn btn-success" onClick="">Try Clozer Now</a><br />
        </p>
      </div>
    </div>

  </div>
</section>