<div class="col-md-4 col-xs-12 col-sm-12">
<h3>Start a new deal</h3>
<%= form_for Deal.new do |f| %>
  <%= f.label :name, "What do you want to name this deal?" %>
  <%= f.text_field :name, class: "form-control space1" %>
  <%= f.submit "Save", class: "btn" %>
<% end %>
</div>