/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  background: #F0F0ED url("//d1w32dwlo9psx6.cloudfront.net/assets/corporate/greybg-e911bd2bca887644020a69bb5aa99f76.jpg") repeat top center;
}

.pull-center {
  margin: 0 auto;
}

.space0 { margin-bottom: 6.25px; }
.space1 { margin-bottom: 12.5px; }
.space2 { margin-bottom: 25px; }
.space3 { margin-bottom: 37.5px; }
.space4 { margin-bottom: 50px; }

.navbar {
  background: #fff;
}

.navbar{border-radius:0;border-left:none;border-right:none;height:60px;padding:0;margin:0;background:#fff}.navbar.navbar-fixed-top{position:fixed;left:0;top:0;width:100%;height:60px;padding:0;box-shadow:0 2px 15px rgba(0,0,0,0.25);z-index:1000}.navbar.navbar-fixed-top#simple-nav{height:60px}.navbar.navbar-fixed-top#simple-nav #zenpayroll-logo{height:60px;width:150px}.navbar #zenpayroll-logo{display:inline-block;float:left;width:125px;height:60px;opacity:1;padding:0;margin-right:15px}.navbar #zenpayroll-logo img{max-width:100%}.navbar .container-fluid{box-shadow:inset 0px 3px #428BCA;-webkit-box-shadow:inset 0px 3px #428BCA;-moz-box-shadow:inset 0px 3px #428BCA;padding-left:0;padding-right:0}.navbar .nav>li.pull-right{float:right}.navbar .nav>li.pull-right .btn-navbar{padding:7px 10px 12px;margin-top:15px;margin-right:15px}.nav-collapse{z-index:900}.nav-collapse ul.nav{margin-bottom:0}.navbar .nav>li>a{padding:20px 15px;text-transform:uppercase;letter-spacing:0px;font-weight:300;text-shadow:0 1px 0 white;color:#4a4a4a;text-decoration:none}.navbar .nav>li>a:hover{color:#428BCA;background:transparent}.navbar .nav>li>a.sign-up{display:block;padding:10px 20px;background-color:#428BCA;border-radius:3px;margin-top:10px;color:#efefef;text-shadow:none}.navbar .nav>li>a.sign-up:hover{text-decoration:none;background-color:#2e773a}.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{background-color:transparent;box-shadow:none;color:#428BCA;font-weight:300;text-decoration:none}.nav .open>a,.nav .open>a:hover,.nav .open>a:focus,.nav>li>a:hover,.nav>li>a:focus{color:#428BCA;font-weight:300;background-color:transparent}.nav .open>a{background-color:transparent;border:none;color:#428BCA;font-weight:300}.nav .open>a:hover,.nav .open>a:focus{font-weight:300}.dropdown-menu{border-top:none}.dropdown-menu>li>a{font-weight:300;text-transform:uppercase;text-decoration:none}.dropdown-menu>li>a:hover{background:transparent;color:#428BCA;font-weight:300}.navbar-toggle{border:1px solid #428BCA;margin-top:14px}.navbar-toggle .icon-bar{background-color:#428BCA}.navbar-collapse{max-height:400px;background:#fff;box-shadow:inset 0px 3px #428BCA;-webkit-box-shadow:inset 0px 3px #428BCA;-moz-box-shadow:inset 0px 3px #428BCA}@media (max-width: 979px){.nav-collapse{z-index:900;background:#fff;-moz-box-shadow:0 0 5px #9a9a9a;-webkit-box-shadow:0 0 5px #9a9a9a;box-shadow:0 0 5px #9a9a9a;top:1px;height:0}.nav-collapse.in{height:auto}.nav-collapse ul.nav{margin-bottom:0}.nav-collapse ul.nav a{margin-bottom:0;border-radius:0}.nav-collapse ul.nav a:hover{background:#428BCA;color:#f0f0f0}.nav-collapse ul.nav a.sign-in{float:none}}@media (min-width: 768px) and (max-width: 979px){.navbar-inner .container .row .span12{float:none;margin:0 auto}}@media (max-width: 767px){.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{box-shadow:none}.navbar.navbar-static-top{margin-left:0}}

.navbar-inner{height:60px}

.error_field { border: 1.5px solid red; }

.icon-ok.check { color: #00FF00; }

.rounded10 { border-radius: 10px; }

.alert {
  max-width: 480px;
  font-size: 16px;
  color: white;
  li {
    list-style: disc;
  }
}

.alert-danger, .alert-error {
  background-color: red;
  opacity: .6;

}
.alert-success {
  background-color: #00CC00;
}
.container #error_explanation {
  position: relative;
  h2 {
    font-size: 16px;
    line-height: 18px;
  }
}
/*"//d1w32dwlo9psx6.cloudfront.net/assets/corporate/zenpayroll-homepage-video-2ddfe7513cd83a6ce14f8b8414a858fa.jpg"*/
/*"//d1w32dwlo9psx6.cloudfront.net/assets/corporate/zenpayroll-homepage-d4de06bf48749ba93a7e93571f9e2c38.jpg"*/
/*http://unsplash.s3.amazonaws.com/IMG_5803.jpg*/

#hero{background:#000 url("http://unsplash.s3.amazonaws.com/IMG_5803.jpg") no-repeat top center}

#hero.xero-hero{background:#000 url("//d1w32dwlo9psx6.cloudfront.net/assets/corporate/xero-homepage-b78ff25b488cdd1d0ee09bf493c64c9f.jpg") no-repeat top center}#hero.xero-hero .hero-text p{width:85%}

/*hero*/
#hero.homepage-video-hero{background:#000 url("//d1w32dwlo9psx6.cloudfront.net/assets/corporate/zenpayroll-homepage-video-2ddfe7513cd83a6ce14f8b8414a858fa.jpg") no-repeat top center}

#hero.homepage-video-hero a.play-video{margin:20px 0px 0 50px;padding:30px 20px;color:#ffffff;width:500px;height:420px;font-size:2em;font-weight:200;text-align:center;text-indent:-9999px;overflow:hidden;display:block}

#hero .container{min-height:500px}#hero h1{font-size:2.6em;line-height:1em}

#hero .hero-text{margin:80px 0 0;background:transparent;padding:30px 20px;color:#efefef;font-weight:200;position:relative}

#hero .hero-text input,#hero .hero-text button{border:1px solid #37823e;padding:10px 10px;font-weight:400}

#hero .eoy-badge{position:absolute;right:15px;top:0px}

#hero .eoy-badge img{-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;transition-property:transform}

#hero .eoy-badge img:hover{-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);-o-transform:rotate(10deg)}

#hero #accountant-button{font-weight:700;text-decoration:underline;color:#efefef}

#hero #xero-video{margin:90px 0px 0 100px;padding:30px 20px;width:391px;height:214px}

#hero .view-xero-video a{color:#efefef;font-weight:700;display:none}

@media (min-width: 1200px){#hero #xero-video{margin:90px 0px 0 116px}}
@media (max-width: 979px) and (min-width: 768px){#hero #xero-video{margin:90px 0px 0 83px}}
@media (max-width: 767px){#hero.xero-hero .hero-text p{width:50%}

#hero #xero-video{display:none}#hero .view-xero-video a{display:block}}@media (min-width: 768px) and (max-width: 979px){#hero .eoy-badge{left:-40px;right:auto}}

@media (max-width: 767px){#hero.homepage-video-hero a.play-video{margin:20px auto;width:auto;height:180px;padding:0 20px;text-indent:0px;overflow:visible}

#hero.homepage-video-hero a.play-video:hover{text-decoration:none}

#hero .hero-text{background:rgba(0,0,0,0.5);margin-top:60px}

#hero .hero-text h1{font-size:2.2em}

#hero .hero-text button{position:relative;left:-3px}

#hero #accountant-button{color:#efefef;text-decoration:underline;font-weight:700}

#hero .eoy-badge{position:relative}}

@media (max-width: 480px){#hero.homepage-video-hero a.play-video{height:60px;overflow:visible;text-indent:0px}

#hero .hero-text{text-align:center;margin-top:0}

#hero .hero-text #company-input{width:75%;display:block;margin:0 auto}

#hero .hero-text button{width:75%;display:block;margin:0 auto;left:0}}




.ribbon{
  background-color: #428BCA;
  /*background:transparent url("//d1w32dwlo9psx6.cloudfront.net/assets/corporate/ribbon-background-32027d79fd8f3c0b9c47e74f39e5fcd4.jpg") repeat-x top center;padding:0px*/
}

.ribbon:before,.ribbon:after{
  content:'';display:block;
  background-color: #428BCA;
  /*background:transparent url("//d1w32dwlo9psx6.cloudfront.net/assets/corporate/ribbon-stitching-2f2a6b18849f128a2a5dcb4de520c315.png") repeat-x center center;height:12px*/
}

.ribbon .ribbon-text{text-align:center;margin:8px 0;color:#efefef}

.ribbon .ribbon-text h2{font-size:24px;font-weight:200;line-height:28px;margin:0 0 5px}

.ribbon .ribbon-text p{margin-bottom:10px;font-size:16px;line-height:16px;font-weight:200}

.ribbon .ribbon-text a{color:#efefef;margin-left:10px;display:inline-block;font-weight:700}

.ribbon .ribbon-text a:hover{color:#efefef;text-decoration:underline}